/* @import "./reset.css"; */

.container {
  box-sizing: border-box;
  width: 80rem;
  height: 47.6rem;
  margin: 10rem auto auto auto;
  background: #c0c0c0;
  border: 1px solid #000000;
  box-shadow: 3px 3px 4px #1c1c1c;
  font-size: 2.5rem;
}

.container-header {
  width: 99%;
  height: 4.8rem;
  margin: 0.7rem auto auto auto;
  background: #000080;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header > p {
  padding-left: 3.4rem;
  color: white;
}
.container-header > .exit-button {
  width: 3.8rem;
  height: 3.8rem;
  margin-right: 0.7rem;
  background: #d9d9d9;
  box-shadow: inset -0.1rem -0.1rem 0.3rem 0rem #000000,
    inset 0.2rem 0.2rem 0.3rem 0rem #ffffffcc;
  cursor: pointer;
}

.container-header > .exit-button > img {
  width: 65%;
  height: 65%;
  display: flex;
  margin: 0.6rem auto;
}

.icon-container {
  height: 18rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.cd-icon-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.cd-icon-container > .cd-img1,
.cd-img2 {
  width: 16rem;
  height: 16rem;
}
@keyframes slide {
  0% {
    transform: translateX(-90%) translateY(-40%);
  }
  25% {
    transform: translateX(-50%) translateY(-80%);
  }
  50% {
    transform: translateX(-10%) translateY(-100%);
  }
  75% {
    transform: translateX(30%) translateY(-80%);
  }
  100% {
    transform: translateX(70%) translateY(-40%);
  }
}
.paper-section {
  display: flex;
  align-items: center;
}

.paper-img {
  width: 12rem;
  height: 3.5rem;
  animation: slide 2s linear infinite;
}
.speed-limit {
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speed-limit > p {
  font-size: 2.3rem;
}

.speed-limit > img {
  width: 18rem;
  height: 4.5rem;
}

.about-loading {
  padding: 0 4rem;
}

.about-loading > p {
  font-size: 2rem;
}

.speedbox {
  position: relative;
  width: 100%;
  height: 4rem;
  margin-top: 2.5rem;
  box-shadow: inset 0.4rem 0.4rem 0.4rem 0rem #0000003f,
    inset -0.2rem -0.2rem 0.2rem 0rem white;
}

.speedbox-blue {
  position: absolute;
  height: 100%;
  width: 10%;
  background-color: #000080;
}

.speedbox > p {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.container-footer > .cancel-btn {
  padding: 0.6rem;
  background: #d9d9d9;
  border: 0.1rem solid #000000;
  box-shadow: inset 0.4rem 0.4rem 0.4rem 0rem #ffffff,
    0.2rem 0.2rem 0.2rem 0rem #000000;
  cursor: pointer;
}

.container-footer > .cancel-btn > div {
  box-sizing: border-box;
  width: 13rem;
  height: 3.4rem;
  border: 0.2rem dashed #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
}
