@font-face {
  font-family: "neodgm";
  src: url("./font/neodgm.ttf");
}

* {
  font-family: "neodgm", cursive;
}

/* ---------------상단바 controller부분--------------- */
.game-starter {
  display: inline-box;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

/* time Stop 부분 */
.buttons {
  padding: 9px;
}
