/* .wrapper {
  position: fixed;
  height: calc(100% - 5rem);
} */

.menu {
  position: fixed;
  display: flex;
  top: calc(50% - 5rem);
  transform: translateY(-50%);

  flex-direction: column;
  margin-left: 8rem;
}

.menu div {
  margin: 2rem;
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  background-size: cover;
}
.menu div p {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 0.2rem;
}

.menu_dashboard {
  background: url(./icons/mushroom.svg) no-repeat;
}

.menu_info {
  background: url(./icons/question.svg) no-repeat;
}
.menu_record {
  background: url(./icons/mario.svg) no-repeat;
}
.menu_user {
  background: url(./icons/star.svg) no-repeat;
}
.menu_home {
  background: url(./icons/home.svg) no-repeat;
}
.menu_hover:hover {
  position: absolute;
  margin: 0;
  background: rgba(217, 217, 217, 0.1);
}

.menu .selected_menu {
  position: absolute;
  margin: 0;
  border: 2px dashed #000000;
  background: rgba(217, 217, 217, 0.2);
}
