.wrapper {
  position: fixed;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 6.1rem;
  margin-left: 4rem;
}

.menu div {
  margin: 2rem;
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  background-size: cover;
}
/* .menu div:hover {
  border: 2px dashed #000000;
} */
.menu div p {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffffff;
}

.menu_dashboard {
  background: url(./icons/mushroom.svg) no-repeat;
}

.menu_info {
  background: url(./icons/question.svg) no-repeat;
}
.menu_record {
  background: url(./icons/mario.svg) no-repeat;
}
.menu_user {
  background: url(./icons/star.svg) no-repeat;
}
.menu_home {
  background: url(./icons/home.svg) no-repeat;
}

.menu .selected_menu {
  position: absolute;
  margin: 0;
  border: 2px dashed #000000;
  background: rgba(217, 217, 217, 0.2);
}
