@import url(./reset.css);

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 5rem);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 128rem;
  height: 72rem;
  box-sizing: border-box;
  background-color: #c0c0c0;
  border: 0.1rem solid #000000;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
}
header div {
  height: 4.2rem;
  display: flex;
  position: relative;
  background: #000080;
}
header p {
  position: absolute;
  margin: 1rem 0 0 6rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ffffff;
}

.sub_menu {
  height: 4.6rem;
  display: flex;
  border-bottom: 0.2rem #242424 solid;
}

.menu_item {
  padding: 1.2rem;
  cursor: pointer;
}
.sub_menu div p {
  display: block;
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

main {
  box-sizing: border-box;
  height: 59.4rem;
  width: auto;
}
.content {
  position: relative;
  margin: 2rem 3.6rem;
  width: 120rem;
  height: 55rem;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
}
.sub_title {
  padding: 1.2rem 2rem;
  border-bottom: #e0e0e0 3px solid;
}
.sub_title p {
  font-size: 2rem;
  font-weight: 600;
  color: #242424;
}
.main_text {
  padding: 1.2rem 0 0 1.2rem;
}
footer .footer_box {
  background-color: #c0c0c0;
  border-top: #242424 solid 0.2rem;
  height: 4.4rem;
  width: auto;
}

footer .footer_content {
  margin: 0.8rem 1.3rem;
  height: 2.6rem;
  width: 125rem;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selected_menu {
  margin: 0.1rem;
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.2);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: #e0e0e0 solid 2px;
}
.span {
  display: inline-block;
  width: 2.1rem;
  border: #000000 1px solid;
  border-radius: 10px;
}
.menu_hover:hover {
  transition: 0.2s;
  background: rgba(217, 217, 217, 0.4);
}
