@import "./reset.css";

.container {
    box-sizing: border-box;
    width: 64rem;
    height: 36rem;
    margin: 10rem auto auto auto;
    background: #c0c0c0;
    border: 1px solid #000000;
    box-shadow: 3px 3px 4px #1c1c1c;
}

.header {
    width: 34rem;
    height: 2rem;

    background: #000080;
}
