/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* {
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', 'sans-serif';
}

html,
body,
div,
span,
object,
iframe,
p,
pre,
acronym,
address,
img,
small,
strong,
sub,
var,
center,
ol,
ul,
li,
form,
label,
article,
aside,
canvas,
details,
footer,
header,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

input {
  outline: none;
  box-sizing: border-box;
}
